<h1>募集要項編集画面</h1>

<%= form_with model: @recruit , url: recruit_path, method: :patch do |f| %>

<p>画像</p>
<%= f.file_field :image, accept: "image/*" %>

<p>タイトル</p>
<%= f.text_field :title %>

<p>チーム名</p>
<%= f.text_field :team %>

<p>主な活動エリア</p>
<%= f.select :area, Recruit.areas_i18n.invert, { include_blank: "指定なし" }, class: "mb-3 sm:mb-0 mr-9 border border-line-200 rounded-[3px] rounded-[3px] py-3 pl-6 w-52 h-12 font-bold" %>

<P>場所</P>
<%= f.text_field :place %>

<p>募集日時</p>
<%= f.date_field :day_and_time %>

<p>チームレベル</p>
<%= f.number_field :team_level %>

<P>掲載期間</P>
<%= f.text_field :post_period %>


<p>本文</p>
<%= f.text_field :content %>

<%= f.submit "編集する", class: "btn btn-succes" %>

<% end %>