<h1>募集要項一覧画面</h1>

<% @recruits.each do |recruit| %>
<div>
  <p>たいとる</p>
  <%= link_to recruit_path(recruit) do %>
  <%= recruit.title %>
  <% end %>

  <p>ちーむめい</p>
  <%= recruit.team %>

  <p>活動エリア</p>
  <%= recruit.area %>

  <p>日時</p>
  <%= recruit.day_and_time %>

  <p>ちーむれべる</p>
  <%= recruit.team_level %>

  <p>掲載期間</p>
  <%= recruit.post_period %>

  <p>代表者電話番号</p>
  <%= recruit.member.telephone_number %>

  <p>代表者メールアドレス</p>
  <%= recruit.member.email %>

  <p>代表者</p>
  <%= recruit.member.last_name + recruit.member.first_name %>
</div>
<% end %>
