<h1>助っ人募集要項作成入力画面</h1>
<%= form_with model: @recruit, url: check_path ,method: :post do |f| %>

<p>画像</p>
<%= f.file_field :image, accept: "image/*" %>

<p>タイトル</p>
<%= f.text_field :title %>

<p>チーム名</p>
<%= f.text_field :team %>

<p>主な活動エリア</p>
<%= f.select :area, Recruit.areas_i18n.invert, { include_blank: "その他" }, class: "mb-3 sm:mb-0 mr-9 border border-line-200 rounded-[3px] rounded-[3px] py-3 pl-6 w-52 h-12 font-bold" %>

<P>場所</P>
<%= f.text_field :place %>

<p>募集日時</p>
<%= f.date_field :day_and_time %>

<p>チームレベル(1~10段階)</p>
<%= f.number_field :team_level , max:10, min:0 %>


<%#= f.text_field :post_period %>


<p>本文</p>
<%= f.text_field :content %>

<p>代表者電話番号</p>
<%= @member.telephone_number %>

<P>代表者メールアドレス</P>
<%= @member.email %>

<P>代表者氏名</P>
<%= @member.last_name + @member.first_name %>


<%= f.submit "募集する", class: "btn btn-succes" %>

<% end %>