<h1>募集要項詳細画面</h1>

<div>
  <%= image_tag @recruit.get_image %>

  <p>タイトル</p>
  <%= @recruit.title %>

  <p>チーム名</p>
  <%= @recruit.team %>

  <p>主な活動エリア</p>
  <%= @recruit.area_i18n %>

  <p>場所</p>
  <%= @recruit.place %>

  <p>日時</p>
  <%= @recruit.day_and_time %>

  <p>チームレベル</p>
  <%= @recruit.team_level %>

  <p>掲載期間</p>
  <%= @recruit.post_period %>

  <p>代表者電話番号</p>
  <%= @recruit.member.telephone_number %>

  <p>代表者メールアドレス</p>
  <%= @recruit.member.email %>

  <p>代表者</p>
  <%= @recruit.member.last_name + @recruit.member.first_name %>
</div>

<% if current_member.present? %>
  <% if @recruit.member_id == current_member.id %>
    <%= link_to edit_recruit_path(@recruit) do%>
      <p>編集する</p>
    <% end %>
    <%= link_to "削除する", recruit_path(@recruit), method: :delete ,class: "btn btn-danger" %>


    <h2>申し込み会員リスト</h2>
    <% @applies.each do |apply| %>
      <p>氏名</p>
      <%= apply.member.last_name + apply.member.first_name %>
  
      <p>メールアドレス</p>
      <%= apply.member.email %>
  
      <p>申込ステータス</p>
      <%= form_with model: apply,url:apply_path(apply) do |f| %>
      <%= f.select :is_apply, Apply.is_applies.keys.map {|k| [I18n.t("enums.apply.is_apply.#{k}"), k]} %>
      <%= f.submit "更新",class: "btn btn-success" %>
      <% end %>
    <% end %>



  <% else %>
  <%# elsif @recruit.member_id ==! current_member.id %>
      <% if @recruit.favorited_by?(current_member) %>
      <p>
        <%= link_to recruit_good_recruits_path(@recruit), method: :delete do %>
          ♥<%= @recruit.good_recruits.count %> いいね
        <% end %>
      </p>
      <% else %>
      <p>
        <%= link_to recruit_good_recruits_path(@recruit), method: :post do %>
          ♡<%= @recruit.good_recruits.count %> いいね
        <% end %>
      </p>
    <% end %>

  <% unless current_member.applies.find_by(recruit_id: @recruit.id).present? %>
    <%= link_to new_recruit_apply_path(@recruit) do %>
      <p>申し込み画面へ進む</p>
    <% end %>
  <% end %>
  <% end %>
<% end %>



