<h1>通知一覧画面</h1>
<% if @notifications.present? %>

  <% @notifications.each do |notification| %>
    <% case notification.action %>
      <% when 'apply' then %>
        <p>
          <%= link_to member_detail_path(notification.visitor) do %>
          <%= notification.visitor.last_name + notification.visitor.first_name %>
          <% end %>
          が
          <%= link_to recruit_path(notification.apply.recruit_id) do %>
          <%= notification.apply.recruit.title %>
          <% end %>
          の募集要項に申し込みしました。<br>

          投稿の申込ステータスを更新してください
        </p>


      <% when 'good_recruit' then %>
        <p>
          <%= link_to member_detail_path(notification.visitor) do %>
          <%= notification.visitor.last_name + notification.visitor.first_name %>
          <% end %>
          が
          <%= link_to recruit_path(notification.good_recruit.recruit_id) do %>
          <%= notification.good_recruit.recruit.title %>
          <% end %>
          の募集要項にいいねしました。</p>


      <% when 'comment' then %>
        <p>
           <%= link_to member_detail_path(notification.visitor) do %>
          <%= notification.visitor.last_name + notification.visitor.first_name %>
          <% end %>

          が<%= notification.post_comment.recruit.title %>の募集要項にコメントしました。</p>
        </p>

      <% else %>
    <% end %>
  <% end %>

<% else %>
  <p>通知はありません</p>

<% end %>

<%# @notifications.each do |notification| %>
<%#= notification.visitor.last_name + notification.visitor.first_name %><%#= notification.good_recruit.recruit.title %>

<%# end %>

<%# notifications = @notifications.where.not(visitor_id: current_member.id) %>
<%# if notifications.exists? %>
  <%#= render notifications %>
  <%#= paginate notifications %>
<%# else %>
 <!--<p>通知はありません</p>-->
<%# end %>

<%# visitor = notifications.visitor %>
<%# visited = notifications.visited %>

      <%#= visitor.name %>
      <%#= 'さんが' %>

      <%# case notification.action %>
      <%# when 'like' then %>
        <%#= "あなたの投稿にいいねしました" %>

      <%# when 'apply' then %>
        <%#= "あなたの投稿に申し込みました" %>
      <%# else %>

      <%# end %>



    <%#= time_ago_in_words(notification.created_at).upcase %>